* ::before ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    height: 100vh;
    width: 100vw;
    font size: 1rem;
    font-family: '';
    background-color:;
}

main{
    height: 85vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:725px) {
    
}